<mat-toolbar color="primary" >
  <nav class="navbar">
        <a class="navbar-brand" routerLink="/principal">
          <img src="https://i.imgur.com/qdyPa4J.png" alt="Logo" class="logo">
        </a>
        <div style="margin-left: 16px;">
          <mat-button-toggle-group [(ngModel)]="monedaSeleccionada" (change)="cambiarMoneda($event.value)" aria-label="Selector moneda">
            <mat-button-toggle value="CLP">CLP</mat-button-toggle>
            <mat-button-toggle value="USD">USD</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="navbar-user" style="margin-left: auto;">
          <button (click)="toggleCarrito()">🛒 Carrito ({{ totalItems }})</button>

          <!-- Carrito flotante -->
          <div class="carrito-dropdown" *ngIf="mostrarCarrito">
            <app-carrito></app-carrito>
          </div>

      <span *ngIf="usuarioNombre">Bienvenido, {{ usuarioNombre }}</span>
      <button mat-button class="btn-white" *ngIf="usuarioNombre" (click)="logout()" >Cerrar sesión</button>
      <button mat-button class="btn-white" *ngIf="!usuarioNombre" (click)="goToLogin()" >Login</button>
      <button mat-icon-button aria-label="User">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </nav>

</mat-toolbar>
